<?xml version="1.0"?>
<!--
/**
 * Sudha_Mageshopifysync
 *
 * @category  Sudha
 * @package   Sudha_Mageshopifysync
 * @license   https://opensource.org/licenses/OSL-3.0
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Sudha\Mageshopifysync\Model\ShopifyClient">
    <arguments>
        <argument name="config" xsi:type="object">Sudha\Mageshopifysync\Helper\Config</argument>
        <argument name="curl" xsi:type="object">Magento\Framework\HTTP\Client\Curl</argument>
        <argument name="logger" xsi:type="object">Psr\Log\LoggerInterface</argument>
    </arguments>
</type>

</config>
